<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ussimspoofer">

    <application
        android:allowBackup="false"
        android:label="US SIM Spoofer"
        android:supportsRtl="false"
        android:icon="@android:drawable/sym_def_app_icon">

        <!-- Required by LSPosed / Xposed -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hardcoded US SIM spoofer" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
